<header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </div>
      {% include navigation.html %}
      <img src="/assets/img/Logo-White_40px.png" alt="Logo: A blue octopus" /><p class="logo"><a href="{{site.baseurl}}/">{{ site.title }}</a></p>
      <div class="search-icon-container">
        <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</header> <!-- End Header -->
